In [33]:
import pandas as pd
import numpy as np

In [34]:
data = pd.read_csv(r'C:\Users\urgpa\OneDrive\Escritorio\Documentos\RELHACKERS\LEWORK\DAY3\LAB\lab-customer-analysis-round-3\files_for_lab\csv_files\marketing_customer_analysis.csv')

In [35]:
def clean_makerting_customer_analysis (x):
    x = x.rename(columns={'EmploymentStatus':'Employment Status'})
    x['Effective To Date'] = x['Effective To Date'].astype('datetime64[ns]')
    x = x.dropna()
            
    return x

In [36]:
data = clean_makerting_customer_analysis(data)
data.head(1)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Employment Status,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize

In [37]:
from sklearn.preprocessing import Normalizer

x_num = data.select_dtypes(include = np.number)#save numerical data
x_cat = data.select_dtypes(include = np.object)#save categorical data

In [38]:
x_num.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879

In [39]:
norm = Normalizer()
optimusprime = norm.fit(x_num)#fit
x_normalized = optimusprime.transform(x_num)#transform
x_normalized.shape
dfnorm = pd.DataFrame(x_normalized)

In [41]:
dfnorm.columns = x_num.columns
dfnorm.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,0.049048,0.998772,0.001225,0.000568,0.000089,0.0,0.000018,0.006830
1,0.987006,0.000000,0.013293,0.001838,0.005939,0.0,0.001131,0.160005
2,0.255478,0.966747,0.002141,0.000357,0.000753,0.0,0.000040,0.011230
3,0.997473,0.000000,0.013829,0.002348,0.008480,0.0,0.000913,0.069128
4,0.064055,0.997940,0.001662,0.000273,0.001002,0.0,0.000023,0.003145